In [36]:
import pandas as pd
import requests
import json

In [46]:
songs = pd.read_json("top_song_lyrics_cleaned_cn.jsonl", lines=True)

In [53]:
# For statistics
songs.cleaned_lyrics.str.len().sum()

14406854

In [45]:
songs.groupby("artist_url").nunique()

                artist_name  song_url  song_name  cleaned_lyrics
artist_url
/cnh100002.htm            1       633        316             518
/cnh100012.htm            1       343        245             318
/cnh100015.htm            1       217        149             198
/cnh100018.htm            1       392        260             313
/cnh100019.htm            1       536        213             367
...                     ...       ...        ...             ...
/cnh246009.htm            1         1          1               1
/cnh246244.htm            1         2          2               2
/cnh246398.htm            1         3          3               3
/cnh246958.htm            1         6          5               6
/cnh248391.htm            1         1          1               1

[231 rows x 4 columns]

In [ ]:
songs.groupby('cleaned_lyrics').nunique().sort_values("song_name", ascending=False).head(30)

In [39]:
songs.shape

(39750, 5)

In [ ]:
artists = songs["artist_name"].unique()

In [ ]:
results = []

for a in artists:
    query = f"https://zh.wikipedia.org/w/api.php?action=opensearch&search={a}&limit=1&namespace=0&format=json"
    r = requests.get(query)
    results.append(r)

In [ ]:
content = []
for r in results:
    content.append(r.content)

In [ ]:
content